// .city-container {
//   margin-bottom: 20px;
// }

.card {
  //background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1550779991-7a33aed4827a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60");
  //color: white;
  background-color: #ebd3d0;
  margin: 20px;
  height: 200px;
  border-radius: 30px;
  box-shadow: 5px;
}

.cities-heading {
  margin: 30px;
}
