<div class="navbar-home">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">BeenThere</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="cities/index">See Cities</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="cities/cities/new">Add City</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="wishlists/index">Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<div class="jumbotron jumbotron-fluid">

  <div class="banner d-flex justify-content-center align-items-center flex-column" style="height: 1000px;">

    <div class="list d-flex justify-content-center align-items-center flex-column">
      <h2 class="bannerSubtitle">Where have you been?</h2>
      <p class="lead">Keep track of where in the world you've been and where you'd like to go.</p>
       <%= link_to "cities/index", class: "btn btn-warning btn-lg btn-seecities" do %>
        See Your Cities
      <% end %>
    </div>
  </div>
</div>
