<div class="jumbotron jumbotron-fluid">
  <div class="banner d-flex justify-content-center align-items-center flex-column" style="height: 1000px;">
    <div class="list d-flex justify-content-center align-items-center flex-column">
      <h2 class="bannerSubtitle">Where have you been?</h2>
      <p class="lead">Keep track of where in the world you've been and where you'd like to go.</p>
       <%= link_to "cities/index", class: "btn btn-warning btn-lg btn-seecities" do %>
        See Your Cities
      <% end %>
    </div>
  </div>
</div>
