<div class="jumbotron jumbotron-fluid">

  <div class="banner-wishlist d-flex justify-content-center align-items-center flex-column" style="height: 1000px;">

    <div class="list d-flex justify-content-center align-items-center flex-column">
      <h2 class="bannerWishlistSubtitle">Where would you like to go?</h2>
      <p class="leadWishlist">Keep track of where in the world you'd like to go and what you'd like to do when you get there.</p>
       <%= link_to "cities/index", class: "btn btn-warning btn-lg btn-seecities" do %>
        See Your Cities
      <% end %>
    </div>
  </div>
</div>
