<div class="jumbotron jumbotron-fluid">

  <div class="banner-wishlist d-flex justify-content-center align-items-center flex-column" style="height: 400px;">

    <div class="list d-flex justify-content-center align-items-center flex-column">
      <h2 class="bannerSubtitleWishlist">Where would you like to go?</h2>
      <p class="leadWishlist">Keep track of where in the world you'd like to go.</p>
       <%= link_to "wishlists/new", class: "btn btn-warning btn-lg btn-seecities" do %>
        Add A City
      <% end %>
    </div>
  </div>
</div>

<div class="wishlist-container d-flex justify-content-center align-items-center flex-wrap">
    <% @wishlists.each do|wishlist| %>
      <div class="card d-flex justify-content-center align-items-center flex-wrap" style="width: 18rem;">
         <h5 class="card-title"><%= link_to wishlist.name, wishlist_path(wishlist) %></h5>

         </div>
               <% end %>

  </div>

<div class="index-btns d-flex justify-content-center align-items-center flex-wrap">
  <div>
     <%= link_to root_path, class: "btn btn-warning btn-lg btn-home" do %>
      Home
    <% end %>
  </div>
